{% extends 'base.html' %}

{% block content %}
    <h1 class="my-5">{{ post.title }}</h1>
    <div class="row mb-3">
        <div class="post_info">
            {{ post.author }}, {{ post.date.strftime('%d.%m.%Y') }}
        </div>
        <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap" style="width: 70%; display: block; margin: 0 auto; margin-top: 2%; margin-bottom: 5%;" >
        <p class="card-text">
            {{ post.text }}
        </p>

        <div class="row mb-3">
            <form action="/add_comm" method="post">
                <input type="hidden" name="post_index" value="{{ post_index }}">
                
                <div class="form-group">
                    <label for="comment">Комментарий:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>

                                                                                                         <!-- отображение -->
        {% for comment in post.comments %}
            <div class="m-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='images/avatar.jpg') }}" width="50" height="60" alt="Sample Image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5>{{ comment.author }}</h5>
                        <p>{{ comment.text }}</p>

                                                                                                          <!-- ответы -->
                        {% if comment.replies %}
                            <div class="ms-5">
                                {% for reply in comment.replies %}
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" width="50" height="60" alt="Sample Image">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6>{{ reply.author }}</h6>
                                            <p>{{ reply.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}